<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EZcarddotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EZcarddotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EZcarddotNet.Properties.Settings>
            <setting name="RecentProjectData" serializeAs="String">
                <value />
            </setting>
            <setting name="SILICON_FLOW_API_TOKEN" serializeAs="String">
                <value />
            </setting>
            <setting name="EULAAllowedVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFluentModeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoBackUpDuration" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SafeExit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsAutoSaveEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveDuration" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value />
            </setting>
        </EZcarddotNet.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EZcarddotNet.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>v0.4.06-beta</value>
            </setting>
            <setting name="ExpireDate" serializeAs="String">
                <value>2024-11-9</value>
            </setting>
        </EZcarddotNet.Properties.Settings>
    </applicationSettings>
</configuration>